<header class="header">
    <div class="header__topper">
        <div class="header__container container">
            
            <div class="header__logo">
                <div class="header__logo_img">
                    <!-- <img src="img/Logo.svg" alt="ForkIO logo" /> -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 43 41">
                        <path d="M28.1.7L18.9.1c-.5 0-.9.3-1 .8L15 35.1c0 .2 0 .4.2.5l4.3 5c.3.4.8.4 1.2.1l5.1-4.3c.1-.1.2-.3.2-.5l2.9-34.2c.1-.5-.3-1-.8-1zm-4.3 33.4l-6.2-.4 2-23.6 6.2.4-2 23.6zM26 8l-6.2-.4.4-4.9 6.2.4L26 8zM8.8 35.9H5.7c-.8 0-1.5-.7-1.5-1.5v-8.5L.9 22.1c-.5-.6-.5-1.5 0-2.1l3.5-3.8V7.7c0-.8.7-1.5 1.5-1.5h2.9c.7 0 1.3.6 1.3 1.3s-.6 1.2-1.3 1.2H7v7.8c0 .4-.1.8-.4 1l-3.2 3.4 2.9 3.4c.2.3.4.6.4 1v7.8h2c.7 0 1.3.6 1.3 1.3s-.5 1.5-1.2 1.5zm-4.4-9.7zm.3-10.3zM37.3 35.9h-3.1c-.7 0-1.3-.6-1.3-1.3s.6-1.3 1.3-1.3h2v-7.8c0-.4.1-.7.4-1l2.9-3.4-3.2-3.4c-.3-.3-.4-.7-.4-1v-8h-1.8c-.7 0-1.3-.6-1.3-1.3s.6-1.3 1.3-1.3H37c.8 0 1.5.7 1.5 1.5v8.5l3.5 3.8c.5.6.5 1.5 0 2.1l-3.3 3.8v8.5c.1.9-.5 1.6-1.4 1.6zm1-20zm-1.2-7.2z"/>
                        </svg>
                </div>
                <div class="header__logo_text">ForkIO</div>
            </div>

            <button class="btn header__btn">Buy Now</button>

            <div class="burger">
                <span class="burger_item"></span>
            </div>

            <nav class="header__nav">
                <ul class="header__nav_items">
                    <li class="header__nav_item">
                        <a href="#" class="header__nav_link">Overview</a>
                    </li>
                    <li class="header__nav_item">
                        <a href="#" class="header__nav_link">About Fork</a>
                    </li>
                    <li class="header__nav_item">
                        <a href="#" class="header__nav_link">Buying Options</a>
                    </li>
                    <li class="header__nav_item">
                        <a href="#" class="header__nav_link">Support</a>
                    </li>
                </ul>
            </nav>
        
        </div>
    </div>

    <div class="container">
        <div class="header__info">
            <h1 class="header__title">Fork App</h1>
            <p class="header__text">
                A real gamechanger in the world of web development
            </p>
            <p class="header__text_highlight">
                v. 2.8 For Mac and Windows
            </p>
        </div>

        <div class="header__bottom">
            <button class="btn header__bottom_btn">Download For Free Now</button>
            <p class="header__text_trial">
                Unlimited 30-Days Trial Period
            </p>
        </div>
    </div>
</header>