<section class="testimonial">
	<div class="container">
		<h2>People Are Talking About Fork</h2>
		<div class="comments">
			<div class="comment">
				<div class="comment__logo">
					<img
						src="img/testimonial_logo/01_smashing_magazine.png"
						alt="comment logo"
					/>
				</div>
				<div class="comment__text">
					<p>
						Sed vestibulum scelerisque urna, eu finibus leo
						facilisis sit amet. Proin id dignissim magna. Sed varius
						urna et pulvinar venenatis.
					</p>
				</div>
			</div>

			<div class="comment">
				<div class="comment__logo">
					<img
						src="img/testimonial_logo/02_codrops.png"
						alt="comment logo"
					/>
				</div>
				<div class="comment__text">
					<p>
						Donec euismod dolor ut ultricies consequat. Vivamus urna
						ipsum, rhoncus molestie neque ac, mollis eleifend nibh.
					</p>
				</div>
			</div>

			<div class="comment">
				<div class="comment__logo">
					<img
						src="img/testimonial_logo/03_W.png"
						alt="comment logo"
					/>
				</div>
				<div class="comment__text">
					<p>
						In efficitur in velit et tempus. Duis nec odio dapibus,
						suscipit erat fringilla, imperdiet nibh. Morbi tempus
						auctor felis ac vehicula.
					</p>
				</div>
			</div>

			<div class="comment">
				<div class="comment__logo">
					<img
						src="img/testimonial_logo/04_pixel_buddha.png"
						alt="comment logo"
					/>
				</div>
				<div class="comment__text">
					<p>
						Sed vestibulum scelerisque urna, eu finibus leo
						facilisis sit amet. Proin id dignissim magna. Sed varius
						urna et pulvinar venenatis.
					</p>
				</div>
			</div>

			<div class="comment">
				<div class="comment__logo">
					<img
						src="img/testimonial_logo/05_CB.png"
						alt="comment logo"
					/>
				</div>
				<div class="comment__text">
					<p>
						Praesent ut eros tristique, malesuada lectus vel,
						lobortis massa. Nulla faucibus lorem id arcu consequat
						faucibus.
					</p>
				</div>
			</div>

			<div class="comment">
				<div class="comment__logo">
					<img
						src="img/testimonial_logo/06_TNW.png"
						alt="comment logo"
					/>
				</div>
				<div class="comment__text">
					<p>
						Fusce pharetra erat id odio blandit, nec pharetra eros
						venenatis. Pellentesque porttitor cursus massa et
						vestibulum.
					</p>
				</div>
			</div>
		</div>
		<div class="descriotion">
			<p>
				Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi
				mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec
				eget elit eu libero tincidunt consequat nec elementum orci. Cum
				sociis natoque penatibus et magnis dis parturient montes,
				nascetur ridiculus mus.
			</p>
		</div>
	</div>
</section>
