@import "vars";
@import "mixins";

.burger {
	grid-column: 5;
	justify-self: end;

	cursor: pointer;
	height: 25px;
	display: flex;
	align-items: center;

	&_item {
		position: relative;
		display: block;
		width: 26px;
		height: 3px;
		border-radius: 3px;

		background-color: #e5e3e3;

		&:before,
		&:after {
			content: "";
			position: absolute;
			display: block;

			height: 3px;
			border-radius: 3px;

			right: 0;

			background-color: #e5e3e3;
		}

		&:before {
			width: 20px;
			top: -9px;
		}

		&:after {
			width: 26px;
			bottom: -9px;
		}
	}
}

.header {
	width: 100%;
	height: 718px;
	position: relative;

	background-image: url(../img/head_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@include animate;

	&__container {
		display: grid;
		grid-template-columns: 1fr 5fr 1fr;
		grid-auto-rows: 40px;
		align-content: center;
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		height: 100%;
		position: relative;
		// z-index: 1;
	}

	&__logo {
		grid-column: 1;
		cursor: pointer;
		display: flex;
		align-items: center;

		&_text {
			display: none;
			margin-left: 19px;

			@include fontFamilyLato;
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
			user-select: none;
			color: $mainColor;

			@include animate;
		}

		&_img {
			width: 42px;
			fill: $mainColor;

			@include animate;
		}

		&:hover .header__logo_text {
			color: #fff;
		}

		&:hover .header__logo_img {
			fill: #fff;
		}
	}

	&__btn {
		grid-column: 2;
		font-size: 15px;
		justify-self: center;
	}

	&__topper {
		height: 103px;
		background-color: rgba(255, 255, 255, 0.15);
		@include animate;
	}

	&__nav {
		opacity: 0;
		position: absolute;
		top: 103px;
		left: 2.5%;
		width: 95%;
		transform-origin: top right;
		transform: scale(0);
	}

	&__nav_items {
		display: flex;
		flex-direction: column;

		background-color: rgb(51, 51, 51);
		user-select: none;
	}

	&__nav_link {
		display: block;
		width: 100%;
		position: relative;

		font-size: 26px;
		color: #fff;
		text-decoration: none;
		white-space: nowrap;
		padding: 34px;
		border-bottom: 2px solid rgba(59, 59, 59, 0.4);
		@include animate;

		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 0;
			height: 52px;
			top: calc(50% - 26px);
			left: 0;
			background-color: transparent;
			@include animate;
		}

		&:hover {
			color: $mainColor;
		}

		&:hover:before {
			width: 8px;
			background-color: $mainColor;
		}
	}

	&__info {
		text-align: center;
		padding-top: 44px;
	}

	&__title {
		font-size: 48px;
		font-weight: bold;
		color: #fff;
		margin-bottom: 20px;
	}

	&__text {
		@include fontFamilyLato();
		font-size: 18px;
		line-height: 34px;
		color: $mainColor;
		margin-bottom: 15px;

		&_highlight {
			font-size: 14px;
			color: $secondaryColor;
			text-transform: uppercase;
		}
	}

	&__bottom {
		position: absolute;
		left: 50%;
		bottom: -39px;
		transform: translateX(-50%);

		text-align: center;

		&_btn {
			font-size: 18px;
		}
	}
}

.is-active {
	opacity: 1;
	transform: scale(1);
}

@media (min-width: 481px) {
	
	.header {
		height: 800px;

		&__topper {
			height: 118px;
		}

		&__container {
			flex-wrap: wrap;
			align-items: center;
			height: 100%;
			// padding-top: 22px;
			// padding-bottom: 10px;
		}

		&__logo {
			
			&_text {
				display: unset;
			}
		}

		&__btn {
			font-size: 16px;
			grid-column: 3;
			justify-self: end;
		}

		&__nav {
			grid-row: 2;
			grid-column: 1/4;
			width: 100%;
			opacity: 1;
			position: static;
			transform: scale(1);
		}

		&__nav_items {
			flex-direction: row;
			justify-content: center;
			background-color: transparent;
			margin-top: 10px;
		}

		&__nav_item {
			&:not(:last-child) {
				margin-right: 4vw;
			}
		}

		&__nav_link {
			font-size: 16px;
			font-weight: bold;
			color: $mainColor;
			padding: 0;
			border-bottom: none;

			&:before {
				display: none;
			}

			&:hover {
				color: #fff;
			}
		}

		&__title {
			font-size: 72px;
		}

		&__text {
			font-size: 24px;
		}

		&__bottom {
			bottom: -50px;

			&_btn {
				font-size: 21px;
				padding: 1em 2.75em;
			}
		}
	}

	.burger {
		display: none;
	}
}

@media (min-width: 993px) {
	.header {
		&__nav {
			grid-row: 1;
			grid-column: 2;
			// width: 100%;
			// flex-grow: 3;
			// order: 2;

			&_items {
				margin-top: 0;
				justify-content: flex-end;
			}

			&_item {
				&:not(:last-child) {
					margin-right: 0;
				}
			}

			&_item {
				margin-right: 50px;
			}

			// &_link {
			// 	margin: 0;
			// }
		}

		// &__btn {
		// 	// order: 3;
		// }
	}
}

